<p>キャンペーン配信画面</p>
<p>タイトル：<%= @campaign.title %></p>
<p>セッションID：<%= @campaign.session_id %></p>

<div>
    <%= link_to "moderator", show_moderator_campaign_path(@campaign), { target: "_blank" } %>
    <%= link_to "publisher", show_publisher_campaign_path(@campaign), { target: "_blank" } %>
    <%= link_to "subscriber", show_subscriber_campaign_path(@campaign), { target: "_blank" } %>
</div>